:root {
    --container-padding: 1rem;
    --font-family-heading: "Poppins", sans-serif;
    --font-family-body: "Poppins", sans-serif;
    --stacked-component-sm: 64px;
    --stacked-component: 96px;
    --horizontal-gap: clamp(1rem, 2vw, 3rem);
    --vertical-gap: clamp(.1rem, 2vw, 3rem);
    --font-size-h3: clamp(1.25rem, 1.66vw, 2rem);
    --font-size-h4: 18px;

    --color-primary-100: rgb(183,220,229);
    --color-primary-200: rgb(127,201,214);
    --color-primary-300: rgb(90,135,147);
    --color-primary-400: rgb(84,134,145);
    --color-primary-500: rgb(64,105,119);
    --color-primary-600: rgb(42,84,98);
    --color-primary-700: rgb(17,54,65);
    --color-primary-800: rgb(9,38,45);
    --color-primary-900: rgb(4,16,20);

    --color-white: #fff;
    --color-neutral-100: rgb(186,194,198);
    --color-secondary: #F98092;

    --z-index-header: 50;
    --z-index-intro: 1;
    --z-index-better: 2;
    --body-z-index: 10;
    --z-index-slideshow: 15;
    --z-index-contents: 20;

    --linear-gradient: linear-gradient(142deg, rgba(42,84,98,1) 0%, rgba(17,54,65,1) 50%, rgba(7,29,36,1) 100%);

    --transparent-dark: rgba(4,16,20, .5);
    --transparent-dark-hover: rgba(4,16,20, .8);
    --transparent-light: rgb(90,135,147, .3);;
    --blur-radius: 5px;

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;

    @media (min-width: 600px) {
        --container-padding: 4vw;
    }
    @media (min-width: 1000px) {
        --stacked-component-sm: 80px;
        --stacked-component: 200px;
        --font-size-h4: 20px;
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-body);
    font-weight: 300;
    line-height: 150%;
    background: var(--color-primary-900);
    color: #fff;
    font-size: clamp(0.9375rem, 1.25vw, 1.25rem);
}

a {
    color: var(--color-primary-600)
}

.en,
.fr {
    display: none;
}

.lang-en .en {
    display: inline;
}

.lang-fr .fr {
    display: inline;
}


img,
video {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    margin: 0;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -.02em;

    strong {
        font-weight: inherit;
        color: var(--color-primary-200);
    }
}

h2 {
    font-size: clamp(2.5rem, 5.5vw, 7rem); /* 96px @ 1680px */
    margin-bottom: .5em;
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: 1.5rem;
}

.heading-half {
    width: 13ch;
    margin-bottom: var(--stacked-component-sm);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);

    @media (min-width: 1000px) {
        padding-left: 0;
        padding-right: 0;
    }
}

p {
    margin-bottom: 1.5rem;
    margin-top: 0;
    line-height: 175%;

    &:last-child {
        margin-bottom: 0;
    }

    &.large {
        font-size: clamp(1rem, 1.2vw, 2rem);
    }
}

.container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.container-2x {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);

    @media (min-width: 1000px) {
    padding-left: calc(var(--container-padding) * 2);
    padding-right: calc(var(--container-padding) * 2);
    }
}

.container-sm,
.container-md {
    margin-left: auto;
    margin-right: auto;
}

.container-sm {
    max-width: calc(72ch + (var(--container-padding) * 2));
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.container-md {
    max-width: 1024px;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.stacked-component {
    padding-top: var(--stacked-component);
    padding-bottom: var(--stacked-component);
}


.stacked-component + .stacked-component {
    padding-top: 0;
}



.transparent-blur {
    background: var(--transparent-dark);
    -webkit-backdrop-filter: blur(var(--blur-radius));
    backdrop-filter: blur(var(--blur-radius));
}

/* Aurora effect */
.aurora {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #041014;
    background: linear-gradient(0deg, var(--color-primary-900) 0%, var(--color-primary-800) 100%);
    height: 100vh;
    z-index: 1;

}

@keyframes auroraFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes auroraFadeLess {
    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}

@keyframes auroraFadeMore {
    0% {
        opacity: .2;
    }
    20% {
        opacity: .8;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: .8;
    }
    100% {
        opacity: .2;
    }
}

.lights {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vw;
    opacity: 0;
}

.light-1 {
    /*  color-primary-400 light blue */
    transform: scale(.5, 2.5) translate(-50%, -20%);
    top: 0;
    left: 5%;
    z-index: 2;
    animation: auroraFade 14s infinite;
    background: radial-gradient(circle, rgba(84,134,145, .5) 0%, rgba(84,134,145, 0) 60%);


    @media (orientation: portrait) {
        transform: scale(.5, 7) translate(-50%, -20%);
    }
}

.light-2 {
    /* pink */
    transform: scale(.4, 2.2) translate(-50%, -20%);
    z-index: 2;
    left: 50%;
    animation: auroraFadeLess 15s infinite 3s;
    background: radial-gradient(circle, rgba(233,120,239, .2) 0%, rgba(233,120,239, 0) 60%);

    @media (orientation: portrait) {
        transform: scale(.4, 5) translate(-50%, -15%);
    }
}

.light-3 {
    /* color-primary-600 darker blue */
    transform: scale(.8, 2.8) translate(-50%, -20%);
    left: 75%;
    opacity: .2;
    animation: auroraFadeMore 20s infinite 4s;
    background: radial-gradient(circle, rgba(42,84,98, .7) 0%, rgba(42,84,98, 0) 60%);

    @media (orientation: portrait) {
        transform: scale(.8, 9) translate(-50%, -10%);
    }
}

.light-4 {
    /* color-primary-700 darker blue */
    transform: scale(.8, 2.8) translate(-50%, -20%);
    left: 30%;
    opacity: .2;
    animation: auroraFadeMore 18s infinite;
    background: radial-gradient(circle, rgba(17,54,65, .8) 0%, rgba(17,54,65, 0) 60%);

    @media (orientation: portrait) {
        transform: scale(.8, 9) translate(-50%, -15%);
    }
}

.light-5 {
    /* pink 2 */
    transform: scale(.35, 1.7) translate(-50%, -35%);
    z-index: 2;
    left: 20%;

    animation: auroraFadeLess 20s infinite 7s;
    background: radial-gradient(circle, rgba(233,120,239, .2) 0%, rgba(233,120,239, 0) 60%);

    @media (orientation: portrait) {
        transform: scale(.35, 5) translate(-50%, -25%);
    }
}

/* Header */
.navigation {
    position: fixed;
    top: .75rem;
    left: var(--container-padding);
    right: var(--container-padding);
    display: flex;
    z-index: var(--z-index-header);
    justify-content: space-between;
    padding: .75rem;

    border-radius: 36px;
    transition: transform .3s ease-out;


    &.nav-hidden {
        transform: translateY(calc(-100% - 1rem));
     }
}

.logos {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    align-items: center;


    @media (min-width: 1000px) {
        gap: 1.5rem;
        padding-left: 2rem;
    }

    span {
        display: inline-block;
        width: 1px;
        height: 70%;
        background: #fff;
    }
}

.logo {
    width: 32px;

    &:last-of-type {
        width: 42px;
    }
    @media (min-width: 800px) {
        width: 130px;

        &:last-of-type {
            width: 140px;
        }
    }

    img {
        display: block;
    }
}

.nav-links {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.lang-link {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
    color: var(--color-primary-200);
    text-decoration: none;
    transition: color .3s ease-out;

    &:hover {
        color: var(--color-primary-100);
    }
}

.lang-en a[data-lang='en'],
.lang-fr a[data-lang='fr']{
    color: var(--color-white);
}

/* Intro section */
.intro {
    width: 100vw;
    height: 50vh;
    position: relative;
    z-index: var(--z-index-intro);
    /*background-color: purple;*/
}

.intro-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: calc(var(--container-padding) * 3);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-index-intro);

    @media (min-width: 600px) {
        padding: calc(var(--container-padding) * 2);
    }
}

.intro-animation {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @media (min-width: 1000px) {
        gap: 2rem;

    }
}

.intro-o2,
.intro-zr,
.intro-and {
    transform: translateY(2rem);
    transition: transform 1s ease-out;

}

.intro-zr {
    transition-delay: 1.1s;
}

.start .intro-o2,
.start .intro-zr {
    transform: translateY(0);
}


.intro-and {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 700;
    line-height: .6em;
    display: block;
    text-align: center;
    color: var(--color-primary-200);
    opacity: 0;
    transition: opacity .5s ease-out .8s, transform 1s ease-out .8s;
}

.start .intro-and {
    transform: translateY(15%);
    opacity: 1;
}

.o2-path,
.zr-path {
    fill: rgba(255,255,255,0);
    transition: all .5s ease-out;
}

.start .o2-path,
.start .zr-path {
    fill: rgba(255, 255, 255, 1);
}

.start .o2-path {
    &:nth-child(2) {
        transition-delay: .1s;
    }

    &:nth-child(3) {
        transition-delay: .2s;
    }

    &:nth-child(4) {
        transition-delay: .3s;
    }

    &:nth-child(5) {
        transition-delay: .4s;
    }

    &:nth-child(6) {
        transition-delay: .5s;
    }

    &:nth-child(7) {
        transition-delay: .6s;
    }

    &:nth-child(8) {
        transition-delay: .7s;
    }

    &:nth-child(9) {
        transition-delay: .8s;
    }

    &:nth-child(10) {
        transition-delay: .9s;
    }
}

.start .zr-path {

    &:nth-child(1) {
        transition-delay: 1.1s;
    }
    &:nth-child(2) {
        transition-delay: 1.2s;
    }

    &:nth-child(3) {
        transition-delay: 1.3s;
    }

    &:nth-child(4) {
        transition-delay: 1.4s;
    }

    &:nth-child(5) {
        transition-delay: 1.5s;
    }

    &:nth-child(6) {
        transition-delay: 1.6s;
    }

    &:nth-child(7) {
        transition-delay: 1.7s;
    }

    &:nth-child(8) {
        transition-delay: 1.8s;
    }

    &:nth-child(9) {
        transition-delay: 1.9s;
    }
}

.better-together {
    width: 100vw;
    height: 65vh;
    position: relative;
    z-index: var(--z-index-better);
}

.better-together-wordmark {
    max-width: 700px;
    width: 100%;
}


.better-together-wordmark {
    path {
        fill: rgba(255,255,255,0);
        transition: fill .5s ease-out;


        .wordmark-active & {
            fill: rgba(255,255,255,1);
        }
    }
}

.wordmark-active .better {
    &:nth-child(2) {
        transition-delay: .12s;
    }
    &:nth-child(3) {
        transition-delay: .24s;
    }
    &:nth-child(4) {
        transition-delay: .36s;
    }

    &:nth-child(5) {
        transition-delay: .48s;
    }

    &:nth-child(6) {
        transition-delay: .6s;
    }
}


.wordmark-active .together {
    &:nth-child(1) {
        transition-delay: .7s;
    }

    &:nth-child(2) {
        transition-delay: .6s;
    }
    &:nth-child(3) {
        transition-delay: .5s;
    }
    &:nth-child(4) {
        transition-delay: .4s;
    }

    &:nth-child(5) {
        transition-delay: .3s;
    }

    &:nth-child(6) {
        transition-delay: .2s;
    }

    &:nth-child(7) {
        transition-delay: .1s;
    }

    &:nth-child(8) {
        transition-delay: 0s;
    }
}

/* Statement */
.statement {
    padding-top: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: calc(var(--container-padding) * 2);
    padding-right: calc(var(--container-padding) * 2);
    display: flex;
    align-items: center;

    h2 {
        font-size: clamp(1.25rem, 2.2vw, 3rem);
        line-height: 1.75;
        max-width: 46ch;
        font-weight: 500;
    }
}

.letter-better,
.letter-together {
    transition: fill .5s ease-out;
}

.letter-better {
    fill: rgba(255,255,255,.4);

    .wordmark-active & {
        fill: rgba(255,255,255,1);
    }
}

.letter-together {
    fill: rgba(127,201,214,0);

    .wordmark-active & {
        fill: rgba(127,201,214,1);
    }
}

.wordmark-active .letter-better {
    &:nth-child(2) {
        transition-delay: .12s;
    }
    &:nth-child(3) {
        transition-delay: .24s;
    }
    &:nth-child(4) {
        transition-delay: .36s;
    }

    &:nth-child(5) {
        transition-delay: .48s;
    }

    &:nth-child(6) {
        transition-delay: .6s;
    }
}

.wordmark-active .letter-together {
    &:nth-child(1) {
        transition-delay: .7s;
    }

    &:nth-child(2) {
        transition-delay: .6s;
    }
    &:nth-child(3) {
        transition-delay: .5s;
    }
    &:nth-child(4) {
        transition-delay: .4s;
    }

    &:nth-child(5) {
        transition-delay: .3s;
    }

    &:nth-child(6) {
        transition-delay: .2s;
    }

    &:nth-child(7) {
        transition-delay: .1s;
    }

    &:nth-child(8) {
        transition-delay: 0s;
    }
}

.content {
    position: relative;
    z-index: var(--z-index-contents);
}

/* slideshow */

.sizzle {
    /* adjust this value for how long you'd like the slideshow to last */
    height: 120vh;
    width: 100vw;
    position: relative;
    border: 1px solid red;
}

.slideshow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: var(--z-index-slideshow);
    opacity: 0;
    transition: opacity .5s ease-out;

    &.active {
        opacity: 1;
    }
}

.slideshow-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.03);
    transition: all .3s ease-out;
    z-index: calc(var(--z-index-slideshow) + 1);

    &.active {
        opacity: 1;
        transform: scale(1);
        z-index: calc(var(--z-index-slideshow) + 2);
    }
}

.sizzle-v2 {

    height: 250vh;
}

.sizzle-carousel {
    height: 100vh;
    overflow-y: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.sizzle-wrapper picture {
    display: block;
    width: 100%;
    height: 100%;
}

.sizzle-reel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sizzle-wrapper {
    display: flex;
    width: 300vw;
    height: 100%;
}

.sizzle-carousel-item {
    height: 100%;

    img {
        display: block;
    }
}

.clients-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        width: 33%;
        flex-shrink: 0;
        padding: clamp(.25rem, 1.25vw, 2rem);

        @media (min-width: 600px) {
            width: 25%;
        }

        @media (min-width: 900px) {
            width: 20%;
        }

        @media (min-width: 1440px) {
            width: 16.66%;
        }

        @media (min-width: 1900px) {
            width: 12.5%;
        }
    }
}

.logo-position {
    position: relative;
    aspect-ratio: 4/3;

    img {
        display: block;
        top: 0;
        left: 0;
        transition: all .3s ease-out;

        &:first-child {
            opacity: 1;
            position: relative;
            z-index: 1;


            .active-primary &  {
                opacity: 1;
                transform: translateY(0);
                z-index: 1;
                transition-delay: .15s;
            }

            .active-secondary &  {
                opacity: 0;
                transform: translateY(-25%);
                z-index: 0;
            }
        }

        &:last-child {
            opacity: 0;
            position: absolute;

            .active-primary &  {
                opacity: 0;
                transform: translateY(25%);
                z-index: 0;
            }

            .active-secondary &  {
                opacity: 1;
                transform: translateY(0);
                transition-delay: .15s;
                z-index: 1;
            }
        }
    }
}


.video-section {
    padding-top: 0;
}


.video-container {
    width: 100%;
    border-radius: var(--radius-md);
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    gap: var(--vertical-gap);
}

.video-wrapper {
    position: relative;
    cursor: pointer;

    video {
        aspect-ratio: 16/9;
        width: 100%;
        border-radius: var(--radius-sm);
        cursor: pointer;

    }
}

.play-icon-wrapper {
    width: 15%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent-dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: background-color .3s ease-out;
    cursor: pointer;

    @media (min-width: 600px) {
        width: 5%;
    }

    &.hidden {
        display: none;
    }

    .video-container:hover & {
        background-color: var(--transparent-dark-hover);
    }
}

.video-play-icon {
    width: 40%;
    padding-left: 5%;
}


/* company Powers */

.company {
    overflow: hidden;
    padding-top: 50vh;

    @media (orientation: landscape) {
        padding-top: 70vh;
    }
}

.map-bg-wrapper {
    position: absolute;
    z-index: 1;
    height: 100%;

    @media (orientation: portrait) {
        left: -40vw;
        right: -25vw;
        top: 32px;
    }

    @media (orientation: landscape) {
        width: 100%;
        top: var(--container-padding);
        left: var(--container-padding);
        right: var(--container-padding);
    }

}

.map-bg {
    position: absolute;
    width: 100%;
    top: 0;
}

.company-content {
    position: relative;
    z-index: var(--body-z-index);
}

.company-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--container-padding);

    @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns */
    }
}

.company-item {
    padding: clamp(1.5rem, 2.5vw, 3rem);
    border-radius: var(--radius-md);
    height: fit-content;

    @media (min-width: 1000px) {
        &:nth-child(1),
        &:nth-child(3) {
            grid-column: 1; /* Both boxes on the left column */
        }

        &:nth-child(2) {
            grid-column: 2; /* Right column */
            grid-row: 1 / 3; /* Span two rows */
            align-self: center; /* Vertically center this box */
        }
    }

    p {
        color: var(--color-neutral-100);
    }

    h3 {
        margin-bottom: 1em;
    }

    img {
        border-radius: var(--radius-sm);
    }
}

.company-image {
    display: block;
    width: 100%;
    aspect-ratio: 3/2;
    margin-bottom: 2.5rem;
}

.company-logo {
    width: 150px;
    margin-bottom: 1.5rem;
    @media (min-width: 1000px) {
        width: 200px;
        height: 25px;
    }
}

.capabilities {
    @media (min-width: 1000px) {
        display: grid;
        column-gap: var(--container-padding);
        row-gap: var(--container-padding);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }
}

.capabilities-intro {
    margin-bottom: var(--stacked-component-sm);
    padding: 0 var(--container-padding);

    @media (min-width: 1000px) {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 0;
        padding: 0;
    }

    h3 {
        margin-bottom: 2rem;
    }

    p {
        max-width: 60ch;

    }
}

.capabilities-diagram-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: calc(var(--body-z-index) + 1);
    margin-bottom: var(--stacked-component-sm);
    @media (min-width: 1000px) {
        position: static;
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 0;
        display: block;
    }
}

.capabilities-diagram {
    width: 66%;
    @media (min-width: 1000px) {
        top: 112px;
        left: 0;
        position: sticky;
        width: 100%;
    }

    text {
        fill: var(--color-white);
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
    }

    path {
        fill: transparent;
        stroke: var(--color-primary-200);
        stroke-width: 44;
        stroke-linecap: round;
        transition: stroke-dashoffset 1s ease-out;
    }


    .circle-1 {
        stroke-dasharray: 353;
        stroke-dashoffset: 352;
        stroke: var(--color-primary-600);

        .step-1 & {
            stroke-dashoffset: 0;
        }
    }

    .circle-2 {
        stroke-dasharray: 754;
        stroke-dashoffset: 753;
        stroke: var(--color-primary-500);

        .step-2 & {
            stroke-dashoffset: 0;
        }
    }

    .circle-3 {
        stroke-dasharray: 893;
        stroke-dashoffset: 892;
        stroke: var(--color-primary-400);

        .step-3 & {
            stroke-dashoffset: 0;
        }
    }

    .circle-4 {
        stroke-dasharray: 1095;
        stroke-dashoffset: 1093;
        stroke: var(--color-primary-300);

        .step-4 & {
            stroke-dashoffset: 0;
        }
    }
}

/* Circle animations for mobile */
@media (max-width: 999px) {
    .capabilities-active {
        .circle-1,
        .circle-2,
        .circle-3,
        .circle-4 {
            stroke-dashoffset: 0;
        }

        .circle-2 {
            transition-delay: .3s;
        }

        .circle-3 {
            transition-delay: .6s;
        }

        .circle-4 {
            transition-delay: .9s;
        }
    }
}

/* Circle animations for desktop */
@media (min-width: 1000px) {
    .step-1 .circle-1,
    .step-2 .circle-2,
    .step-3 .circle-3,
    .step-4 .circle-4 {
        stroke-dashoffset: 0;
    }
}

.capabilities-list {
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 2;
    grid-row: 2;
    list-style-position: inside;
    padding-top: 3vw;
    padding-bottom: 3vw;
    @media (min-width: 1000px) {
        gap: 6rem;
    }
}

.capability {
    padding: clamp(1.5rem, 2.5vw, 3rem);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 0;
    transition: opacity .4s ease-out;

    .heading-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid var(--color-primary-200);

        h3 {
            font-size: 1.25rem;
            @media (min-width: 1000px) {
                font-size: 1.5rem;
            }
        }
    }

    .counter {
        font-size: 1.25rem;
        font-weight: 600;
        background-color: var(--color-primary-300);
        line-height: 1em;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        flex-shrink: 0;

        @media (min-width: 1000px) {
            font-size: 1.5rem;
            height: 44px;
            width: 44px;
        }
    }

    .counter-1 {
        background-color: var(--color-primary-600);
    }

    .counter-2 {
        background-color: var(--color-primary-500);
    }

    .counter-3 {
        background-color: var(--color-primary-400);
    }

    .counter-4 {
        background-color: var(--color-primary-300);
    }

    ul {
        color: var(--color-neutral-100);
        list-style-type: none;
        padding: 0 0 0 48px; /*32px + 1rem*/
        @media (min-width: 1000px) {
            padding: 0 0 0 60px; /*44px + 1rem*/
        }

        li {
            margin-bottom: .5em;
        }
    }
}

.results {
    display: flex;
    gap: var(--container-padding);
    flex-direction: column;

    @media (min-width: 1000px) {
        flex-direction: row;
    }
}

.partners {
    padding-bottom: 0; /* overriding stacked component styles so the anchor nav works */
}


.result-item {
    border-radius: var(--radius-md);
    padding: var(--container-padding);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;

    p {
        color: var(--color-neutral-100)
    }
}

.partners-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        width: 33%;
        flex-shrink: 0;
        padding: clamp(.25rem, 1.25vw, 2rem);

        @media (min-width: 600px) {
            width: 25%;
        }

        @media (min-width: 900px) {
            width: 20%;
        }
    }

    img {
        display: block;
    }
}

.contact.contact  {
    display: flex;
    gap: var(--container-padding);
    align-items: flex-start;
    flex-direction: column;
    padding-top: var(--stacked-component); /* overriding stacked component styles so the anchor nav works */

    p {
        max-width: 60ch;
    }

    @media (min-width: 1000px) {
        flex-direction: row;
    }
}

.contact-text,
.contact-form {
    flex: 1;
}

.contact-text {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    @media (min-width: 1000px) {
        padding: 0;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
}

.field {
    position: relative;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 520px;

    label {
        position: absolute;
        line-height: 1.75em;
        left: 2rem;
        color: var(--color-primary-200);
        pointer-events: none;
        font-size: 1.125rem;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease-out;

        .field-focused & {
            font-size: .75rem;
            top: 1.125rem;
        }
    }


    input,
    input.button,
    textarea {
        border-radius: 2.5rem;
        -webkit-appearance: none;
        border: 0;
        transition: all .3s ease-out;
        outline: 0px solid rgb(125,197,216, 0.8);
        background-color: var(--transparent-dark);
        line-height: 1.75em;
        font-size: 1.125rem;
        padding: 1.75rem 2rem;
        width: 100%;
        color: #fff;
        height: 80px;

        &:focus {
            background-color: var(--transparent-dark-hover);
            outline: 4px solid rgb(125,197,216, 0.8);
        }
    }

    input:placeholder-shown + label,
    textarea:placeholder-shown + label{
        font-size: 1.125rem;
        top: 50%;
        transform: translateY(-50%);
        color: var(--color-primary-200);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        background-color: var(--transparent-dark);
    }

    textarea {
        height: 180px;
    }

    textarea:placeholder-shown {
        height: 80px;
    }
}

button,
input.button,
input.hs-button,
.button {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background: turquoise;
    padding: .875rem 1.5rem;
    line-height: 1rem;
    border-radius: 1.5rem;
    font-weight: 600;
    background: var(--linear-gradient);
    background-size: 200% 200%;
    background-position: 50% 50%;
    transition: all .3s ease-out;
    outline: 0px solid rgb(125,197,216, 0.8);
    cursor: pointer;
    white-space: nowrap;
    font-size: .875rem;
    border: none;
    -webkit-appearance: none;
    box-shadow: none;

    @media (min-width: 1000px) {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    &:hover {
        background-position: 0 0;
        outline: 4px solid rgb(125,197,216, 0.8);
    }


    &.hs-button {
        width: 100%;
        font-size: 1.25rem;
        line-height: 1rem;
        height: 80px;
        border-radius: 40px;

    }
}

.hs-form-required {
    color: var(--color-secondary);
}

.hs-error-msgs.hs-error-msgs {
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: absolute;
    top: calc(100% + .25rem);

    label {
        position: relative;
        font-size: 0.75rem;
        color: var(--color-secondary);
        top: 0;

    }
}

.hs-submit {
    width: 100%;
    max-width: 520px;
}

.submitted-message {
    padding: var(--container-padding);
    background-color: var(--transparent-dark);
    width: 100%;
    border-radius: var(--radius-md);
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}
