:root {
    --container-padding: 1.5rem;
    --font-family-heading: "Poppins", sans-serif;
    --font-family-body: "Poppins", sans-serif;
    --stacked-component-sm: 64px;
    --stacked-component: 96px;
    --card-padding: 10px;
    --horizontal-gap: clamp(1rem, 2vw, 3rem);;
    --vertical-gap: clamp(.1rem, 2vw, 3rem);;
    --results-list-padding: 25px;
    --font-size-h3: 20px;
    --font-size-h4: 18px;

    --color-primary-100: rgb(183,220,229);
    --color-primary-200: rgb(127,201,214);
    --color-primary-300: rgb(90,135,147);
    --color-primary-400: rgb(84,134,145);
    --color-primary-500: rgb(64,105,119);
    --color-primary-600: rgb(42,84,98);
    --color-primary-700: rgb(17,54,65);
    --color-primary-800: rgb(9,38,45);
    --color-primary-900: rgb(4,16,20);


    --color-white: #fff;
    --color-neutral-100: rgb(186,194,198);


    --z-index-header: 50;
    --z-index-intro: 1;
    --z-index-better: 2;
    --body-z-index: 10;
    --z-index-slideshow: 15;
    --z-index-contents: 20;

    --linear-gradient: linear-gradient(142deg, rgba(42,84,98,1) 0%, rgba(17,54,65,1) 50%, rgba(7,29,36,1) 100%);

    --transparent-dark: rgba(4,16,20, .4);
    --transparent-light: rgb(90,135,147, .3);;
    --blur-radius: 5px;

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;

    @media (min-width: 600px) {
        --container-padding: 4vw;
    }
    @media (min-width: 1000px) {
        --stacked-component-sm: 80px;
        --stacked-component: 180px;
        --card-padding: 25px;

        --results-list-padding: 55px;
        --font-size-h3: 24px;
        --font-size-h4: 20px;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
    font-weight: 400;
    line-height: 150%;
    background: var(--color-primary-900);
    color: #fff;
    font-size: clamp(.875rem, 1.25vw, 1rem);
}

a {
    color: var(--color-primary-600)
}

.en,
.fr {
    display: none;
}

.lang-en .en {
    display: inline;
}

.lang-fr .fr {
    display: inline;
}


img,
video {
    max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    margin: 0;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -.02em;

    strong {
        font-weight: inherit;
        color: var(--color-primary-200);
    }
}

h2 {
    font-size: clamp(3rem, 5.7vw, 112px);
    /* 96px @ 1680px */
}

h3 {
    font-size: clamp(2rem, 4.5vw, 6rem);
}

h4 {
    font-size: 1.5rem;
}

.heading-half {
    width: 13ch;
    margin-bottom: var(--stacked-component-sm);
}


p {
    margin-bottom: 1.5rem;
    margin-top: 0;
    line-height: 175%;

    &:last-child {
        margin-bottom: 0;
    }

    &.large {
        font-size: clamp(1rem, 1.2vw, 2rem);
    }
}

.container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.container-2x {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);

    @media (min-width: 1000px) {
    padding-left: calc(var(--container-padding) * 2);
    padding-right: calc(var(--container-padding) * 2);
    }
}

.container-sm,
.container-md {
    margin-left: auto;
    margin-right: auto;
}

.container-sm {
    max-width: calc(72ch + (var(--container-padding) * 2));
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.container-md {
    max-width: 1024px;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.stacked-component {
    padding-top: var(--stacked-component);
    padding-bottom: var(--stacked-component);
}


.stacked-component + .stacked-component {
    padding-top: 0;
}

button,
.button {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background: turquoise;
    padding: .875rem 1.5rem;
    line-height: 1rem;
    border-radius: 1.5rem;
    font-weight: 600;
    background: var(--linear-gradient);
    background-size: 200% 200%;
    background-position: 50% 50%;
    transition: all .3s ease-out;
    outline: 0px solid rgb(125,197,216, 0.8);
    cursor: pointer;
    white-space: nowrap;
    font-size: .875rem;

    @media (min-width: 1000px) {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    &:hover {
    background-position: 0 0;
        outline: 4px solid rgb(125,197,216, 0.8);
     }
}


/* Aurora effect */
.aurora {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #041014;
    background: linear-gradient(0deg, var(--color-primary-900) 0%, var(--color-primary-800) 100%);
    height: 100vh;
    z-index: 1;

}

@keyframes auroraFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes auroraFadeLess {
    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}

@keyframes auroraFadeMore {
    0% {
        opacity: .2;
    }
    20% {
        opacity: .8;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: .8;
    }
    100% {
        opacity: .2;
    }
}

.lights {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vw;
    opacity: 0;
}

.light-1 {
    /*  color-primary-400 light blue */
    transform: scale(.5, 2.5) translate(-50%, -20%);
    top: 0;
    left: 5%;
    z-index: 2;
    animation: auroraFade 14s infinite;
    background: radial-gradient(circle, rgba(84,134,145, .5) 0%, rgba(84,134,145, 0) 60%);


    @media (orientation: portrait) {
        transform: scale(.5, 7) translate(-50%, -20%);
    }
}

.light-2 {
    /* pink */
    transform: scale(.4, 2.2) translate(-50%, -20%);
    z-index: 2;
    left: 50%;
    animation: auroraFadeLess 15s infinite 3s;
    background: radial-gradient(circle, rgba(233,120,239, .25) 0%, rgba(233,120,239, 0) 60%);

    @media (orientation: portrait) {
        transform: scale(.4, 5) translate(-50%, -15%);
    }
}

.light-3 {
    /* color-primary-600 darker blue */
    transform: scale(.8, 2.8) translate(-50%, -20%);
    left: 75%;
    opacity: .2;
    animation: auroraFadeMore 20s infinite 4s;
    background: radial-gradient(circle, rgba(42,84,98, .7) 0%, rgba(42,84,98, 0) 60%);

    @media (orientation: portrait) {
        transform: scale(.8, 9) translate(-50%, -10%);
    }
}

.light-4 {
    /* color-primary-700 darker blue */
    transform: scale(.8, 2.8) translate(-50%, -20%);
    left: 30%;
    opacity: .2;
    animation: auroraFadeMore 18s infinite;
    background: radial-gradient(circle, rgba(17,54,65, .8) 0%, rgba(17,54,65, 0) 60%);

    @media (orientation: portrait) {
        transform: scale(.8, 9) translate(-50%, -15%);
    }
}

.light-5 {
    /* pink 2 */
    transform: scale(.35, 1.7) translate(-50%, -35%);
    z-index: 2;
    left: 20%;

    animation: auroraFadeLess 16s infinite 7s;
    background: radial-gradient(circle, rgba(233,120,239, .25) 0%, rgba(233,120,239, 0) 60%);

    @media (orientation: portrait) {
        transform: scale(.35, 5) translate(-50%, -25%);
    }
}


/* Header */
.navigation {
    position: fixed;
    top: .75rem;
    left: var(--container-padding);
    right: var(--container-padding);
    display: flex;
    z-index: var(--z-index-header);
    justify-content: space-between;
    padding: .75rem;
    background: var(--transparent-dark);
    backdrop-filter: blur(var(--blur-radius));
    border-radius: 36px;
    transition: transform .3s ease-out;


    &.nav-hidden {
        transform: translateY(calc(-100% - 1rem));
     }
}

.logos {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    align-items: center;


    @media (min-width: 1000px) {
        gap: 1.5rem;
        padding-left: 2rem;
    }

    span {
        display: inline-block;
        width: 1px;
        height: 70%;
        background: #fff;
    }
}

.logo {
    width: 32px;

    &:last-of-type {
        width: 42px;
    }
    @media (min-width: 800px) {
        width: 130px;

        &:last-of-type {
            width: 140px;
        }
    }
}

.nav-links {
    display: flex;
    align-items: center;
    gap: .75rem;


}

.lang-link {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
    color: var(--color-primary-200);
    text-decoration: none;
    transition: color .3s ease-out;

    &:hover {
        color: var(--color-primary-100);
    }


}



.lang-en a[data-lang='en'],
.lang-fr a[data-lang='fr']{
    color: var(--color-white);
}

/* Intro section */
.intro {
    width: 100vw;
    height: 44vh;
    position: relative;
    z-index: var(--z-index-intro);
}

.intro-animation {
    width: 100%;
    max-width: 600px;
    position: fixed;
    top: 50vh;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.intro-o2,
.intro-zr,
.intro-plus {
    transform: translateY(2rem);
    transition: transform 1s ease-out;

}

.intro-zr {
    transition-delay: 1.1s;
}

.start .intro-o2,
.start .intro-zr {
    transform: translateY(0);
}


.intro-plus {
    font-size: clamp(2rem, 3vw, 3.5rem);
    font-weight: 600;
    display: block;
    color: var(--color-primary-200);
    opacity: 0;
    transition: opacity .5s ease-out .8s, transform 1s ease-out .8s;
}

.start .intro-plus {
    transform: translateY(0);
    opacity: 1;
}


.o2-path,
.zr-path {
    fill: rgba(255,255,255,0);
    transition: all .5s ease-out;
}


.start .o2-path,
.start .zr-path {
    fill: rgba(255, 255, 255, 1);
}

.start .o2-path {
    &:nth-child(2) {
        transition-delay: .1s;
    }

    &:nth-child(3) {
        transition-delay: .2s;
    }

    &:nth-child(4) {
        transition-delay: .3s;
    }

    &:nth-child(5) {
        transition-delay: .4s;
    }

    &:nth-child(6) {
        transition-delay: .5s;
    }

    &:nth-child(7) {
        transition-delay: .6s;
    }

    &:nth-child(8) {
        transition-delay: .7s;
    }

    &:nth-child(9) {
        transition-delay: .8s;
    }

    &:nth-child(10) {
        transition-delay: .9s;
    }
}

.start .zr-path {

    &:nth-child(1) {
        transition-delay: 1.1s;
    }
    &:nth-child(2) {
        transition-delay: 1.2s;
    }

    &:nth-child(3) {
        transition-delay: 1.3s;
    }

    &:nth-child(4) {
        transition-delay: 1.4s;
    }

    &:nth-child(5) {
        transition-delay: 1.5s;
    }

    &:nth-child(6) {
        transition-delay: 1.6s;
    }

    &:nth-child(7) {
        transition-delay: 1.7s;
    }

    &:nth-child(8) {
        transition-delay: 1.8s;
    }

    &:nth-child(9) {
        transition-delay: 1.9s;
    }
}


/* Statement */
.statement {
    /*height: 130vh;*/
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;





}

.statement-wrapper {
    font-size: clamp(2rem, 2.3vw, 3.5rem);
    max-width: 48ch;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: inherit;
        line-height: 1.75;
        max-width: 50ch;
        font-weight: 500;

    }

}



.wordmark-spacer {
    /*background: rgba(255,100,0,.1);*/
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.wordmark-wrapper {
    width: 66.66%;
    position: sticky;
    top: 44%;
}

.better-together-wordmark {



}


.letter-better,
.letter-together {
    transition: fill .5s ease-out;
}

.letter-better {
    fill: rgba(255,255,255,0);

    .wordmark-active & {
        fill: rgba(255,255,255,1);
    }
}

.letter-together {
    fill: rgba(127,201,214,0);

    .wordmark-active & {
        fill: rgba(127,201,214,1);
    }
}


.wordmark-active .letter-better {
    &:nth-child(2) {
        transition-delay: .12s;
    }
    &:nth-child(3) {
        transition-delay: .24s;
    }
    &:nth-child(4) {
        transition-delay: .36s;
    }

    &:nth-child(5) {
        transition-delay: .48s;
    }

    &:nth-child(6) {
        transition-delay: .6s;
    }
}

.wordmark-active .letter-together {
    &:nth-child(1) {
        transition-delay: .7s;
    }

    &:nth-child(2) {
        transition-delay: .6s;
    }
    &:nth-child(3) {
        transition-delay: .5s;
    }
    &:nth-child(4) {
        transition-delay: .4s;
    }

    &:nth-child(5) {
        transition-delay: .3s;
    }

    &:nth-child(6) {
        transition-delay: .2s;
    }

    &:nth-child(7) {
        transition-delay: .1s;
    }

    &:nth-child(8) {
        transition-delay: 0s;
    }
}

/*
--color-primary-100: rgb(183,220,229);
--color-primary-200: rgb(127,201,214);
*/



/*.intro-title {
    position: absolute;
    width: 100%;
    height: 100%;
}*/





.content {
    position: relative;
    z-index: var(--z-index-contents);
}





/* slideshow */

.sizzle {
    /* adjust this value for how long you'd like the slideshow to last */
    height: 120vh;
    width: 100vw;
    position: relative;
    border: 1px solid red;
}

.slideshow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: var(--z-index-slideshow);
    opacity: 0;
    transition: opacity .5s ease-out;

    &.active {
        opacity: 1;
    }


}

.slideshow-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.03);
    transition: all .3s ease-out;
    z-index: calc(var(--z-index-slideshow) + 1);

    &.active {
        opacity: 1;
        transform: scale(1);
        z-index: calc(var(--z-index-slideshow) + 2);
    }
}

.sizzle-v2 {

    height: 250vh;
}

.sizzle-carousel {
    height: 100vh;
    overflow-y: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.sizzle-reel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.sizzle-wrapper {
    display: flex;
    width: 300vw;
    height: 100%;
}

.sizzle-carousel-item {
    height: 100%;

    img {
        display: block;
    }
}

/* Content Layout */

.layout-thirds {
    display: flex;
    gap: var(--container-padding);
    flex-direction: column;

    @media (min-width: 1000px) {
        flex-direction: row;
        align-items: flex-start;

        h3 {
            margin: 0;
            padding-top: 112px;
            width: 33%;
            position: sticky;
            top: 0;
            left: 0;
        }
    }
}

.layout-item-2-3 {
    gap: var(--horizontal-gap);
    @media (min-width: 1000px) {
        width: calc(66.666% - var(--container-padding));
    }
}

.clients {
    overflow: hidden;
}

.clients-list-container-2 {
    display: flex;
    justify-content: flex-end;
}


.clients-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0;
    width: fit-content;


    li {
        width: 250px;
        flex-shrink: 0;

        //@media (min-width: 800px) {
        //    width: 33.3333%;
        //}
        //@media (min-width: 1200px) {
        //    width: 25%;
        //}

        img {
            display: block;
            aspect-ratio: 1/1;
        }
    }
}



.video-section {
    padding-top: 0;
}





.video-container {
    width: 100%;
    background: var(--transparent-dark);
    backdrop-filter: blur(var(--blur-radius));
    border-radius: var(--radius-md);
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    gap: var(--vertical-gap);

    video {
        aspect-ratio: 16/9;
        width: 100%;
    }
}



.benefits-stack {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: decimal;
    position: relative;

    li::marker {
        position: absolute;
        top: 0;
        left: 0;
        color: green; /* Changes the color of the bullet or number */
        font-size: 20px; /* Changes the size of the marker */
    }
}

.benefit {
    background: rgba(4,16,20, .4);
    background: var(--transparent-dark);
    backdrop-filter: blur(var(--blur-radius));
    padding: clamp(1.5rem, 2.5vw, 3rem);
    border-radius: var(--radius-md);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 800px) {
        width: calc(50% - (var(--horizontal-gap) / 2));
    }

    h4 {
        font-weight: 500;
    }

    p {
        color: var(--color-neutral-100);
    }
}


.below {
    height: 150vh;
}
